CONNECTION_STRING_TRANSFER=mongodb+srv://<username>:<password>@myatlasclusteredu.boteppd.mongodb.net/?appName=<clustername>
CONNECTION_STRING_RECEIVER=mongodb+srv://<username>:<password>@myatlasclusteredu.boteppd.mongodb.net/?appName=<clustername>
